*{
    margin: 0;
    padding: 0;
}

header{
padding: 1rem 0;
}

header ul{
    display: flex;
    list-style-type: none;
    gap: 1rem;
    justify-content: center;
}

header ul li a{
    text-decoration: none;
    color: #007bff;
}


main{
    padding: 1rem 3rem 4rem 3rem;
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.5rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: gray;
}
footer p{
    margin: 0;
}
