/* *{
    margin: 0;
    padding: 0;
} */
header.header-isnot-authenticated-mobile{
    display: none;
}
header.header-authenticated-mobile{
    display: none;
}
header{
    background-color: #f4f4f4;;
}
main{
    padding: 1rem 3rem 10rem 3rem;
    text-align: center;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    /* text-align: center; */
    left: 50%;
    transform: translateX(-50%);
    background-color: #f4f4f4;
}
ul{
list-style-type: none;
}
@media (max-width: 800px) {
    
    header.header-authenticated {
        display: none;
    }

    header.header-isnot-authenticated {
        display: none;
    }

    header.header-isnot-authenticated-mobile{
        display: block;
    }

    header.header-authenticated-mobile{
        display: block;
    }
    header.header-isnot-authenticated-mobile a, header.header-isnot-authenticated-mobile input, header.header-isnot-authenticated-mobile button{
        font-size: 1.2rem !important;
        
    }

    header.header-isnot-authenticated-mobile #icon-menu ,header.header-authenticated-mobile #icon-menu{
        font-size: 2rem;
    }

    footer a{
        font-size: 1.2rem !important
    }
    footer p{
        font-size: 1.2rem !important;
    }
}
